header p {
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

ul li {
    border: 1px solid black;
    padding-right:20px;
    padding-left:20px;
}

ul.features {
    display: block;
    list-style: none;
    width: 50%;
}

ul.features li {
    text-align: center;
}

table.stats {
    width:50%;
}

main img {
    display:block;
    margin:auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

div.statsAndFeatures {
    display:flex;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: center;
}

th.title {
    font-size: x-large;
    border:none;
}

li.title {
    font-size: x-large;
    border: none;
}

div.flex {
    display:flex;
    justify-content: center;
}

.flex * {
    margin:10px;
    width:30%;
}

.spells {
    display: flex;
    flex-direction: column;
}

div.blood {
    background-color: black;
}

table.blood tr td, table.blood tr th, h2.blood {
    background-color: black;
    border:1px solid red;
    color:red;
}

td.null {
    border: none;
}

h2.blood, table.blood tr td.null, table.blood tr th.title {
    border: none;
}

.description {
    display: none;
}

.hp {
    width:40px
}

table.languages tr td p {
    font-size: 15px;
}

@media only screen and (max-width: 800px) {
    ul {
        flex-direction: column;
        text-align: center;
    }
}